<div class="homepage-container template-container">
  <div class="homepage-marquee-image collection-link collection-link-solo">
    <div class="collection-title">{{ settings.heroimage_text }}</div>
    <a href="/collections/party-packs"><img src="{{ 'heroimage.jpg' | asset_url }}"></a>
  </div>
  <div class="homepage-collection-links">
    <div class="collection-link">
      <div class="collection-title">{{ settings.subhero1_text }}</div>
      <a href="/pages/marvel-products"><img src="{{ 'subhero1.jpg' | asset_url }}"></a>
    </div>
    <div class="collection-link">
      <div class="collection-title">{{ settings.subhero2_text }}</div>
      <a href="/collections/summer"><img src="{{ 'subhero2.jpg' | asset_url }}"></a>
    </div>
    <div class="collection-link">
      <div class="collection-title">{{ settings.subhero3_text }}</div>
      <a href="/collections/superheroes"><img src="{{ 'subhero3.jpg' | asset_url }}"></a>
    </div>
  </div>
  <div class="homepage-best-sellers" data-best-sellers-container>
    <h2 class="section-heading">Best Sellers</h2>
  </div>
  <div class="homepage-social-staches">
    <h2 class="section-heading">Social Staches</h2>
    <div class="slider-container">
    <h3 class="section-subheading">What's New...</h3>
      <div class="unslider">
        <ul>
          <li><a href="https://www.autismspeaks.org/" target="_blank"><img src="{{ 'unslider.jpg' | asset_url }}" /></a></li>
        </ul>
      </div>
    </div>
    <div class="shoutout-to-them-freshmen">
      <h3 class="instagram-thing-heading section-subheading">Instagram @sunstaches</h3>
      <div class="instagram-thing-main">
        <img class="all-gold-everything" src="{{ 'all-gold-everything.png' | asset_url }}" alt="gold picture frame" />
        <div class="main-image-entry-point"></div>
      </div>
      <div class="instagram-thing-thumbnails"></div>
    </div>
  </div>
</div>
